
$font: system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-color: #4A2C2A;
$secondary-color: #f4ece2;
$accent-color: #B68973;
$text-color: #333;
$background-color: #f7f7f7;

$border-radius: 20px;
$spacing-unit: 1rem;

$big-title-size: 3rem;
$medium-title-size: 2.5rem;
$small-title-size: 1.6rem;
$big-text-size: 2rem;
$medium-text-size: 1.5rem;
$small-text-size: 0.95rem;
