
$font: 'Helvetica Neue', Arial, sans-serif;
$primary-color: #4A2C2A;
$secondary-color: #f4ece2;
$accent-color: #977765;
$text-color: #333;
$background-color: #f8f5ef;

$margin: 20px;
$border-radius: 20px;
$spacing-unit: 1rem;

$big-title-size: 3rem;
$medium-title-size: 2.5rem;
$small-title-size: 1.6rem;
$big-text-size: 2rem;
$medium-text-size: 1.5rem;
$small-text-size: 0.95rem;
