
.bag-page {
  background-color: #f8f5ef;
  min-height: 100vh;
  padding-bottom: 80px;

  h2 {
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }
}

.bag-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.bag-item {
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 16px;
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.capsule-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.capsule-name {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  color: #000;
  margin-left: 12px;
}

.quantity-controls {
  margin: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  button {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    padding: 0;
    font-weight: bold;
  }
}

.quantity-number {
  min-width: 20px;
  text-align: center;
  font-size: 1rem;
}

.pay-button .pay-btn {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  background-color: #52A867;
  color: white;
  margin-top: 24px;
  
}
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.empty-cart-img {
  width: 180px;
  height: auto;
  margin-bottom: 16px;
}

.empty-cart-text {
  font-size: 1.1rem;
  font-family: 'Georgia', serif;
  color: #333;
}