@use "./variables";
@use 'sass:math';

.coffee-options {
    .option-card {
        background-color: variables.$secondary-color;
        border-radius: variables.$border-radius;
        padding: 30px 20px;
        position: relative;
        overflow: visible;
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        height: 300px;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        }

        .option-content {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
        }

        .option-text {
            width: 70%;
            font-size: variables.$big-text-size;
            color: #555;
        }

        .option-title {
            font-size: variables.$big-title-size;
            font-weight: 700;
            color: #000;
            margin-bottom: math.div(variables.$margin, 2);
        }

        .option-image {
            width: 300px;
            position: absolute;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
        }
    }

    .menu {
      justify-content: center;
      gap: 40px;
    }

    .menuItem{
      width: 90%;
    }

    @media (max-width: 768px) {
        .option-card {
            height: 270px;
            padding: 20px;
            .option-content {
                flex-direction: column;
                align-items: flex-start;
            }

            .option-text {
                font-size: variables.$medium-text-size;
            }

            .option-title {
                font-size: variables.$big-title-size;
            }

            .option-image {
              width: 200px;
            }
        }
    }

    @media (max-width: 576px) {
        .option-card {
            height: 160px;
            padding: 15px;
            
            .option-title {
                font-size: variables.$small-title-size;
            }

            .option-text {
                font-size: variables.$small-text-size;
            }

            .option-image {
              width: 120px;
            }
        }

      .menu {
        justify-content: initial;
        gap: 20px;
      }
    }
}
