@use "./variables";
@use "./mixins";
@use 'sass:math';

.coffee-options {
     .logo {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-family: 'Playfair Display';
      align-items: center;
      font-size: variables.$small-title-size;
      margin-left: 30px;

      img {
        width: 40px;
      }

      @include mixins.respond-to('phone') {
        font-size: variables.$medium-title-size;
        margin-left: 60px;

        img {
            width: 70px;
        }
      }

      @include mixins.respond-to('tablet') {
        font-size: variables.$big-title-size;
      }
    }

    .menu {
        justify-content: initial;
        gap: 20px;

        @include mixins.respond-to('phone') {
            justify-content: center;
            gap: 30px;
        }
            
        .menuItem{
            width: 90%;
            @include mixins.respond-to('phone') {
                margin-top: 0px;
            }       

            .option-card {
                background-color: variables.$secondary-color;
                border-radius: variables.$border-radius;
                position: relative;
                overflow: visible;
                transition: transform 0.2s, box-shadow 0.2s;
                cursor: pointer;
                height: 25vh;
                padding: 15px;

                @include mixins.respond-to('phone') {
                    padding: 20px;
                }

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
                }

                .option-text {
                    width: 70%;
                    font-size: variables.$small-text-size;
                    color: #555;

                    @include mixins.respond-to('phone') {
                        font-size: variables.$medium-text-size;
                    }

                    @include mixins.respond-to('tablet') {
                        font-size: variables.$big-text-size;
                    }
                }

                .option-title {
                    font-size: variables.$small-title-size;
                    font-weight: 700;
                    color: #000;
                    margin-bottom: math.div(variables.$margin, 2);

                    @include mixins.respond-to('phone') {
                        font-size: variables.$big-title-size;
                    }
                }

                .option-image {
                    width: 120px;
                    position: absolute;
                    right: -40px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 0;

                    @include mixins.respond-to('phone') {
                        width: 200px;
                    }

                    @include mixins.respond-to('tablet') {
                        width: 300px;
                    }
                }
            }
        }
    }
}
