//Import bootstrap
@use "bootstrap";

//Import variables & mixins
@use "./mixins";
@use "./variables";
@use "./responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body , #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: variables.$font;
  background-color: variables.$background-color;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  @include mixins.center();
}

.action-button {
  background-color: #3ca861;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  color: #ffffff;
  font-size: variables.$small-text-size;
      
  @include mixins.respond-to('phone') {
    font-size: variables.$medium-text-size;
  }

  @include mixins.respond-to('tablet') {
    font-size: variables.$big-text-size;
  }

  &:hover {
    background-color: #2e854f;
  }
}



