//Import bootstrap
@use "bootstrap";

//Import variables & mixins
@use "./mixins";
@use "./variables";
@use "./responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body , #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: variables.$font;
  background-color: variables.$background-color;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  @include mixins.center();
}



