@import '../styles/responsive.scss';

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  color: #000000;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  
  .nav-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 4px;
  }

  span {
    margin-top: 2px;
  }
}
.nav-item.active {
  background-color: #f0f0f0; /* light gray */
  border-radius: 8px;
}

/* Mobile styles */
@include respond-to-phone {
  .nav-item {
    font-size: 0.75rem; 
    padding: 6px 24px;
    
    .nav-icon {
      width: 20px;
      height: 20px;
      margin-bottom: 2px;
    }
  }
}

/* Tablet styles */
@include respond-to-tablet {
  .nav-item {
    font-size: 0.75rem; 
    padding: 6px 44px;
    
    .nav-icon {
      width: 44px;
      height: 24px;
      margin-bottom: 2px;
    }
  }
}

/* Tablet styles in landscape/sideview mode */
@include respond-to-tablet-landscape {
  .nav-item {
    font-size: 0.75rem; 
    padding: 4px 84px;
    
    .nav-icon {
      width: 30px;
      height: 30px;
      margin-bottom: 2px;
    }
  }

}
