@use "./variables";

.previous-wrapper {
    background-color: variables.$background-color; // light beige from the mockup
    padding: 1rem;
  
    button {
      border: none;
      background: transparent;
      font-weight: bold;
      color: #000;
      font-size: variables.$big-text-size;
      display: flex;
      align-items: center;
      gap: 0.5rem;
  
      &:hover {
        text-decoration: underline;
      }
  
      svg {
        font-size: 0.9rem;
      }
    }
  }

   @media (max-width: 768px) {
    .previous-wrapper {
      button {
        font-size: variables.$medium-text-size;
      }
    }
  }

    @media (max-width: 576px) {
      .previous-wrapper {
        button {
          font-size: variables.$small-text-size;
        }
      }
    }
  