@use "./variables";
@use "./mixins";

.previous-wrapper {
    background-color: variables.$background-color; 
    padding: 1rem;
  
    button {
      border: none;
      background: transparent;
      font-weight: bold;
      color: #000;
      font-size: variables.$small-text-size;
      display: flex;
      align-items: center;
      gap: 0.5rem;
  
      &:hover {
        text-decoration: underline;
      }
  
      svg {
        font-size: 0.9rem;
      }

       @include mixins.respond-to('phone') {
        font-size: variables.$medium-text-size;
      }

      @include mixins.respond-to('tablet') {
        font-size: variables.$big-text-size;
      }
    }
  }
  