@use "./variables";
@use 'sass:math';

  .quiz{
    .question {
      font-size: variables.$medium-title-size;
      border-radius: variables.$border-radius;
    }

    .next {
      font-size: variables.$medium-title-size;
    }

    .answer {
      font-size: variables.$big-text-size;
      margin: variables.$margin * 2;
    }
  }

  @media (max-width: 768px) {
    .quiz{
      .question, .next {
        font-size: variables.$small-title-size;
      }

      .answer {
        font-size: variables.$medium-text-size;
        margin: variables.$margin;
      }
    }
  }

  @media (max-width: 576px) {
    .quiz{
      .answer {
        font-size: variables.$small-text-size;
        margin: math.div(variables.$margin, 2);
      }
    }
  }