@use "./variables";
@use "./mixins";
@use 'sass:math';

  .quiz{
    .question-counter {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: variables.$small-text-size;

      @include mixins.respond-to('phone') {
        font-size: variables.$medium-text-size;
      }

      @include mixins.respond-to('tablet') {
        font-size: variables.$big-text-size;
      }
    }

   .center {
      .gif {
        max-width: 100px;
        height: auto;
        display: inline-block;
      }

      @include mixins.respond-to('phone') {
        .gif {
          max-width: 250px;
        }
      }

      .question {
        font-size: variables.$small-title-size;
        padding: 5px;
        text-align: center;

        @include mixins.respond-to('tablet') {
          font-size: variables.$medium-title-size;
        }
      }

      .option-button {
        width: 100%;
        background-color: variables.$secondary-color;
        border: none;
        color: #000;
        padding: 0.75rem;
        border-radius: variables.$border-radius;
        font-size: variables.$small-text-size;
        margin: math.div(variables.$margin, 2);

        &:focus,
        &:active,
        &.focus,
        &:focus-visible {
          background-color: variables.$secondary-color;
        }

        &.selected {
          border: 1px solid #000;
        }

        @include mixins.respond-to('phone') {
          font-size: variables.$medium-text-size;
          margin: variables.$margin;
        }

        @include mixins.respond-to('tablet') {
          font-size: variables.$big-text-size;
          margin: variables.$margin;
        }
      }

      .option-card {
          margin: variables.$margin;
          text-align: center;

          .option-image {
            height: 20vh;
            width: 20vh;
            border-radius: variables.$border-radius;
          }

          .option-text {
            font-size: variables.$small-text-size;
            margin: math.div(variables.$margin, 2);

            @include mixins.respond-to('phone') {
              font-size: variables.$medium-text-size;
              margin: variables.$margin;
            }

            @include mixins.respond-to('tablet') {
              font-size: variables.$medium-text-size;
              margin: variables.$margin;
            }
          }
      }

      .action-button {
        margin-top: math.div(variables.$margin, 2);
        width: 45%;
        &:disabled:not(.selected) {
          opacity: 0.6;
        }

        @include mixins.respond-to('tablet') {
          width: 30%;
        }
      }
    }
  }

  .progress-tracker {
    display: flex;
    justify-content: center;
    align-items: center;

    .tracker-step {
      display: flex;
      align-items: center;

      .tracker-number {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid variables.$primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: variables.$small-text-size;
        transition: all 0.2s ease;

        @include mixins.respond-to('phone') {
          width: 32px;
          height: 32px;
          font-size: variables.$medium-text-size;
          padding: math.div(variables.$margin, 2);;
        }

        @include mixins.respond-to('tablet') {
          font-size: variables.$big-text-size;
          padding: variables.$margin;
        }
      }

      &.active .tracker-number {
        background-color: variables.$primary-color;
        color: #fff;
      }

      &.completed .tracker-number {
        background-color: variables.$secondary-color;
        border-color: variables.$secondary-color;
        color: #000;
      }

      .tracker-line {
        height: 2px;
        background-color: variables.$primary-color;

        @include mixins.respond-to('phone') {
          margin: 0 6px;
        }

        @include mixins.respond-to('tablet') {
          margin: 0 15px;
        }
      }
    }
}