@use "./variables";
@use "./mixins";

.recommendation-page {
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  @include mixins.center();

  .title {
    font-size: variables.$big-title-size;
    font-weight: bold;
    margin-bottom: variables.$margin;
    text-align: center;
  }

  .flavor-card {
    background-color: #ffffff;
    border: none;
    margin-bottom: variables.$margin;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 90%;
  }

  .flavor-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .name-col{
    text-align: center;
  }

  .flavor-name {
    font-size: variables.$big-text-size;
    font-weight: 500;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: variables.$margin;
    justify-content: center;
    width: 100%;
  }

  .action-button {
    background-color: #3ca861;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    font-size: variables.$big-text-size;
  }

  .action-button:hover {
    background-color: #2e854f;
  }

  @media (max-width: 768px) {
    .title{
      font-size: variables.$medium-title-size;
    }

    .flavor-name, .action-button {
      font-size: variables.$medium-text-size;
    }

    .flavor-image {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 576px) {
    .title{
      font-size: variables.$small-title-size;
    }

    .flavor-name, .action-button {
      font-size: variables.$small-text-size;
    }

    .flavor-image {
      width: 50px;
      height: 50px;
    }
  }
}
