@use "./variables";
@use "./mixins";

.session-page {
  @include mixins.center(column, 70vh);
  margin: variables.$margin;
  text-align: center;

  .code-title{
    font-size: variables.$small-title-size;

    @include mixins.respond-to('tablet') {
      font-size: variables.$medium-title-size;
    }
  }

  .code-input {
    font-size: variables.$medium-text-size;
    letter-spacing: 20px;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    width: 200px;
    text-align: center;
    outline: none;
    margin-bottom: 40px;

    @include mixins.respond-to('tablet') {
      font-size: variables.$big-text-size;
      width: 240px;
    }
  }

  .action-button:disabled {
      background-color: #ccc;
  }
}