@use "./variables";
@use "./mixins";

.session-page {
  @include mixins.center(column, 70vh);
  margin: variables.$margin;
  text-align: center;

  .code-title{
    font-size: variables.$small-title-size;

    @include mixins.respond-to('tablet') {
      font-size: variables.$medium-title-size;
    }
  }

  .code-input {
    font-size: variables.$medium-text-size;
    letter-spacing: 20px;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    width: 200px;
    text-align: center;
    outline: none;
    margin-bottom: 40px;

    @include mixins.respond-to('tablet') {
      font-size: variables.$big-text-size;
      width: 240px;
    }
  }

  .next-btn {
    background-color: #52A867;
    color: white;
    font-size: variables.$medium-text-size;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    @include mixins.respond-to ('tablet') {
      width: 70px;
      height: 70px;
      font-size: variables.$big-text-size;
    }
  }
}